@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
    transition: 1s;
}
.botoes{
    margin-top: 30%;
}

.about, .contact{
    padding: 10px;
    width: 10%;
    height: 10vh;
    border: 2px solid rgba(255,255,255,1);
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size: 12pt;
    text-align: center;
    margin-left: 27%;
    transition: 1s;
    font-family: 'Montserrat';
    cursor: pointer;
}
.contact{
   /* margin-left: 70%; */
   content: "";
}

.about:hover, .contact:hover{
    background-color: black;
    border: none;
}

.sobre_mim{
    margin-top: 16.3%;
    background-color: aliceblue;
    width: 65%;
    padding: 5%;
    font-size: 14pt;
    text-align: justify;
}

.division{
    display: flex;
    width: 100%;
    font-family: 'Montserrat';
}
#eu {
    margin-top: 200px;
    width: 30%;
}
h1{
    margin-bottom: 3%;
}
.listas{
    width: 80%;
    display: flex;
    margin: 8%;
    margin-left: 10%;
    flex-wrap: nowrap;
}

h3 {
    text-align: center;
    margin: 5%;
}

.list_2{
    margin-left:30%
}
.rodape, footer{
    background-color: rgba(0, 0, 0, 1);
}
.contatos{
    filter: invert(100%);
    display: flex;
    padding: 1%;

}
.label{
    font-size: 16pt;
    margin-top: 2.5%;
}
#icon, .nome{
    width: 80%;
    margin: 20px;
}
.nome{
    width: auto;
    margin-top: 1%;
}

#lingua{
    width: 9%;
    padding: 3%;
}

@media 